*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}

body{
    background: white;
    color: black;
}

header{
    background: black;
    color: white;
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    text-decoration: none;
    ;
}
button{
    padding: 10px 20px;
    background: rgb(104, 216, 236);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer{
    background: black;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    padding: 0 50px;
}

input{
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#chat{
    padding: 10px;
    margin-bottom: 10px;
}